// confirm file called
console.log("cancel.js.erb file");

$(".tbody").html("");


<% @class_registrations.each do |r| %>
  $(".tbody").append("<tr>")
    <% unless r.user.first_name.blank? %>
      $(".tbody").append("<td><%= r.user.first_name %> <%= r.user.last_name %></td>")
    <% else %>
      $(".tbody").append("<td><%= r.user.username %></td>")
    <% end %>
    $(".tbody").append("<td><%= r.purchase.pass.name %></td>")
    $(".tbody").append("<td><%= r.purchase.quantity_available_display %></td>")
    $(".tbody").append("<td><%= r.purchase.get_expire_date %></td>")
    <% if r.purchase.paid %>
      $(".tbody").append("<td><%= escape_javascript link_to 'Yes', paid_class_registrations_path(reg: r), remote: true, class: 'btn btn-sm btn-success' %></td>")
    <% else %>
      $(".tbody").append("<td><%= escape_javascript link_to 'No', paid_class_registrations_path(reg: r), remote: true, class: 'btn btn-sm btn-danger' %></td>")
    <% end %>
    <% if r.attended %>
      $(".tbody").append("<td><%= escape_javascript link_to 'Yes', attended_class_registrations_path(reg: r), remote: true, class: 'btn btn-sm btn-success' %></td>")
    <% else %>
      $(".tbody").append("<td><%= escape_javascript link_to 'No', attended_class_registrations_path(reg: r), remote: true, class: 'btn btn-sm btn-danger' %></td>")
    <% end %>
    <% if r.no_show %>
      $(".tbody").append("<td><%= escape_javascript link_to 'Yes', no_show_class_registrations_path(reg: r), remote: true, class: 'btn btn-sm btn-success' %></td>")
    <% else %>
      $(".tbody").append("<td><%= escape_javascript link_to 'No', no_show_class_registrations_path(reg: r), remote: true, class: 'btn btn-sm btn-danger' %></td>")
    <% end %>
    $(".tbody").append("<td><%= escape_javascript link_to 'Cancel Reg', cancel_class_registrations_path(reg: r, roster: true), remote: true, class: 'btn btn-sm btn-info' %></td>")
  $(".tbody").append("</tr>")
<% end %>
